<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Bonsai Bot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://images.unsplash.com/photo-1526397751294-331021109fbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to BonsaiBot!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now it is time to give your plants some water! Get started by swiping to the right.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
