<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Bonsai Bot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
	  <ion-item *ngFor="let entry of form">
	    <ion-label>{{entry.val}}</ion-label>
	    <ion-toggle slot="end" color="dark" [(ngModel)]="entry.isChecked"></ion-toggle>
	  </ion-item>
    <ion-item>
      <ion-range min="10" max="300" step="10" snaps="true" pin="true" color="success">
        <ion-label>Amount of water in milliliter</ion-label>
        <ion-icon slot="end" name="water"></ion-icon>
      </ion-range>
    </ion-item>
	<ion-item>
	  <ion-label>Next watering time</ion-label>
	  <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
	</ion-item>
</ion-list>

	<ion-button expand="block" size="large" color="dark" (click)="doWater()">
  <ion-icon slot="start" name="water"></ion-icon>
    Start Watering
  </ion-button>
  <ion-button expand="block" size="large" color="danger" (click)="doTest()">
  <ion-icon slot="start" name="wifi"></ion-icon>
    Test Connection
  </ion-button>
</ion-content>
